lesson 9.json
{
  "name": "lesson 9",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        500
      ],
      "id": "163883b9-4e6b-4fe9-b7e2-e6e65d8a87f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        740,
        860
      ],
      "id": "ed217a81-fbf3-4248-99b1-566a7d502578",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        660,
        680
      ],
      "id": "38fbfb50-4f42-4647-8dbc-e5165a8420b5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        660
      ],
      "id": "6b1e25be-8b6d-4b53-84a2-699fa797c7f7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KMVsPZ17wLAL7unb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://towardsdatascience.com/transformers-explained-visually-part-1-overview-of-functionality-95a6dd460452/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        440
      ],
      "id": "5b01d07f-b519-48b4-a270-765649a4b606",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": ".wp-block-paragraph",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        440
      ],
      "id": "35882772-c6ef-4292-b834-908d9fd5df09",
      "name": "HTML"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "blog_collection",
          "mode": "list",
          "cachedResultName": "blog_collection"
        },
        "embeddingBatchSize": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        440
      ],
      "id": "27e90aba-1e6d-4ac9-ac68-0c663082bf1f",
      "name": "Qdrant Vector Store",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "FZtd47hOcJBiOYVm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        1040
      ],
      "id": "c9c40c55-24cc-4da6-9b49-fba729fc90ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        1220
      ],
      "id": "6b41d911-21be-4ed3-af5a-6bc11af8e2b1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KMVsPZ17wLAL7unb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        100,
        1200
      ],
      "id": "0c3869c7-db48-4c4b-9b56-b4e308b6302d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0L3MaSchAE9uGkPW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is a vector store that stores vectorized information of the text. use this to answer contextual information about the documents",
        "qdrantCollection": {
          "__rl": true,
          "value": "blog_collection",
          "mode": "list",
          "cachedResultName": "blog_collection"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        240,
        1260
      ],
      "id": "ce1806b5-f669-4906-ba49-054a77378333",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "FZtd47hOcJBiOYVm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        1480
      ],
      "id": "458edaf5-7abb-4772-a89a-a09d8cec2b30",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KMVsPZ17wLAL7unb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "480e0148-9474-4776-96cb-5b35f71742ca",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1040
      ],
      "id": "143a3818-d6f6-4233-9e12-12fdda94181e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        1040
      ],
      "id": "ab3ddfb7-cca7-4b67-a03d-1cd983847c34",
      "name": "When chat message received",
      "webhookId": "8db63ed4-5ed2-4036-a46d-c4aa7b763585"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "849b88ab-0ee7-4eb5-84f3-30db9ad51495",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cac9ed8b4929e854e0a2747575f6b8914f10c15a6cc0c3cebae2ec12d4c38e1"
  },
  "id": "o2MkylMhrNCdYG5W",
  "tags": []
}